*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

body {
    background-color: rgb(165, 42, 42);
}

img.lado{float: left;}

main {

    background-color: whitesmoke;
    width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 8px rgba(red, green, blue, alpha);
}